* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14rem;
  color: black;
}

a {
  color: black;
}


.container {
  width: calc(100vw - 100rem);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30rem;
}