.card {
    font-weight: 100;
    display: flex;
    flex-flow: column;
    gap: 10rem;
    width: 150rem;
    background-color: var(--light-violet-color);
    color: var(--violet-color);
    padding: 10rem;
    border-radius: 5rem;
}   

.title {
    display: flex;
    gap: 5rem;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    min-width: 100rem;
    gap: 10rem;
    line-height: 1;
}

.row-start {
    justify-content: flex-start;
}

.row-between {
    justify-content: space-between;
}

.big {
    font-size: 1.5em;
}

.red {
    color: var(--red-color)
}

.green {
    color: var(--green-color);
}